:root {
  --black: #181a1b;
  --white: #f4f5f5;
  --pure-white: #ffffff;
  --gray: #aeb4b6;
  --accent1: #e0743f;
  --green: #bfc86a;
  --accent3: var(--green);

  --radius: 40px;

  --padding: 1rem;
  --padding-top: calc(var(--padding) * 0.7);

  --font-size: 12pt;

  --drop-shadow: 0px 0px 10px #181a1b15;
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: url("./fonts/Inter-Light.otf") format("opentype");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("./fonts/Inter-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("./fonts/Inter-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("./fonts/Inter-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("./fonts/Inter-Bold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", monospace;
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
  background: var(--pure-white);

  margin: 0;
  padding: calc(var(--padding) * 0.1);
}

input[type="text"] {
  padding: calc(var(--padding) * 0.2) calc(var(--padding) * 0.8);
  background-color: var(--pure-white);
  color: var(--black);
  font-weight: normal;
  font-size: inherit;
  border-radius: var(--radius);
}

button {
  appearance: none;
  font-size: inherit;
  border: 0px;
  border-radius: var(--radius);
  background: var(--pure-white);
  padding: calc(var(--padding) * 0.2) calc(var(--padding) * 0.8);
}

textarea:focus,
input:focus {
  outline: none;
}
.search-input-wrapper {
  position: relative;
  /* margin: 46px auto 0 auto; */
  max-width: 444px;
  display: flex;
  background: var(--pure-white);
  padding: 0.5rem;
  border-radius: var(--radius);
  /* height: 51px; */
}
input.search-input {
  flex-grow: 1;
  display: inline-block;
  border: none;
  font-size: 18px;
  box-sizing: border-box;
}
.search-input-accent {
  flex-shrink: 0;
  content: "";
  display: inline-block;
  /* position: absolute;
  left: 6px;
  top: 5px; */
  /* width: 41px; */
  color: var(--pure-white);
  padding: calc(var(--padding) * 0.6) calc(var(--padding) * 0.8);
  border-radius: var(--radius);
  background-color: var(--accent1);
}

b.accent1 {
  color: var(--accent1);
  font-weight: 500;
}
